# Sentinel API Environment Variables

PORT=3333
NODE_ENV=development

# Database (PostgreSQL)
DATABASE_URL="postgresql://sentinel:sentinel_password@localhost:5432/sentinel_db?schema=public"

# Clerk Authentication
CLERK_PUBLISHABLE_KEY=pk_test_d2VsbC1jb3diaXJkLTkwNjIuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_kR3w6kAaoaeXdlDnAGwJto3mtyGBgd1jaTclJK4zer
CLERK_WEBHOOK_SECRET=whsec_your_clerk_webhook_secret_here
